@using System.Data.Entity

@{
    var db = Database.Open("DefaultConnection");
    var query = "SELECT * FROM UserStatus";
}
<html>
<body>
    <h1>Small Bakery Products</h1>
    <table border="1" width="100%">
        <tr>
            <th>Id</th>
            <th>Body</th>
          
        </tr>
        @foreach (var row in db.Query(query))
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.body</td>
                <td style="text-align:right">@row.Price</td>
            </tr>
        }
    </table>
</body>
</html>
@{
    ViewBag.Title = "Home Page";
}

<p>This is my home, there are many like it but this one is mine.</p>