.Post {
    /*background-color: hotpink;*/
}

.italic {
    font-size: 28pt;
}

.Navbar {
    border: medium black;
    float: right;
    /*background-color: red;*/
}

.Description {
    margin-right: 60%;
}

.Footer {
    margin-top: 20%;
}
