.Post {
   /* background-color: hotpink;*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 10px;*/
}

.italic {
    font-size: 28pt;
}

.Navbar {
    border: 2px solid lightgray;
    border-radius: 10px;
    float: right;
    /*background-color: red;*/
}

.Description {
    margin-right: 30%;
}

.Text {
     word-break: break-all;
}

.DescriptionText {
     word-break: break-all;
}

.Footer {
    /*margin-top: 5%;*/
    clear: both;
}
