.RecipeArea {
    margin-right: 20%;
    margin-left: 20%;
}

.RecipeName {
    margin-left: 30%;
}

.Image {

    float: right;
    margin-right: 5%;
    margin-left: 5%;
    /*background-color: red;*/
}

.Description {
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.DescriptionName {
    font-size: 115%;
    word-break: break-all;
}



.Ingredients {
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.IngredientsName {
    font-size: 115%;
    margin-top: 10%;
    word-break: break-all;
}



.Method {
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.MethodName {
    font-size: 115%;
    word-break: break-all;
}



.Date {
    margin-left: 20%;
}

.create {
     margin-left: 32%;
}
