.RecipeName, #RecipeName {
  margin-left: 15%;
  font-weight: bold;
}


.Description, #Description {
   margin-right: 15%;
   margin-left: 25%;
}

.Likes {
    font-weight: bold;
    margin-left: 25%;
    margin-bottom: 1%;
}

.Details{
    margin-left: 25%;
    margin-bottom: 10%;

}


.create {
    margin-left: 85%;
    border-left: 20px;
    
}

.create, #create{
    font-size: 125%;
    text-decoration: none;
}

.ListOfRecipes{
    border: solid black;
    margin-right: 18%;
    margin-left: 18%;
}
