.create {
    margin-left: 80%;
    border-left: 20px;  
    font-size: 125%;
    text-decoration: none;
    
}

.RecipeArea{
    margin-right: 20%;
    margin-left: 15%;
}

.RecipeName {
  margin-left: 15%;
  font-weight: bold;
}


.Description {
  margin-right: 20%;
  margin-left: 15%;
}

.Details{
    margin-left: 15%;
    margin-bottom: 10%;

}

.Image { /*This needs to be fixed*/
    float: left;
    max-width: 70px;
    margin-top: -5%;
    max-height: 70px;
}
