.RecipeName, #RecipeName {
  margin-left: 10%;
  font-weight: bold;
}


.Description, #Description {
   margin-right: 40%;
   margin-left: 20%;
}

.Likes {
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 1%;
}

.Details{
    margin-left: 20%;
    margin-bottom: 3%;
}


.create {
    margin-left: 85%;
    font-size: 125%;
}
