.Create {
    margin-left: 80%;
    border-left: 20px;  
    font-size: 125%;
    text-decoration: none;
}

.GroupArea {
    border: solid black;
    margin-right: 20%;
    margin-left: 15%;
}

.GroupName {
    font-weight: bold;
    margin-left: 15%;
}

.Description {
      margin-right: 20%;
      margin-left: 15%;
}

.Image { /*This needs to be fixed*/
    float: left;
    max-width: 70px;
    margin-top: -5%;
    max-height: 70px;
}

.Users {
    margin-left: 15%;

}
.Join {
    margin-left: 5%;
}