.Recieved {
   
    margin-left: 20%;
    width: 40%;
}

.Messages {
    float: left;
}

.Create {
    border-left: 20px;  
    font-size: 125%;
    text-decoration: none;
}

.Sent {

    margin-left: 60%;
    width: 40%;
    margin-top: -19.8%;
    padding-top: -5%;
}

.User {
    font-weight: bold;
    margin-top: 5%;
}

.Title {
    margin-top: -3%;
}

.Footer {
    clear: left;
    margin-top: 5%;

}