.Messages {
    position: absolute;
}

.Create {
    border-left: 20px;  
    font-size: 125%;
    text-decoration: none;
    padding-top: 5%;
}

.Recieved {
    margin-left: 20%;
    width: 29%;
    position: absolute;
   
}

.Sent {
    margin-left: 60%;
    width: 40%;
    float: right;
}

.User {
    font-weight: bold;
    margin-top: 5%;
}

.Title {
    margin-top: -3%;
    word-break: break-all;
}

.Text {
     word-break: break-all;
}


.Footer {
    clear: left;
    margin-top: 5%;

}