.Messages {
    position: absolute;
}

.Create {
    border-left: 20px;  
    font-size: 125%;
    text-decoration: none;
    padding-top: 5%;
}

.Recieved {
    margin-left: 15%;
    width: 40%;
    position: absolute;
   
}

.Sent {
    margin-left: 60%;
    width: 40%;
    float: right;
}

.User {
    font-weight: bold;
    margin-top: 5%;
}

.Title {
    margin-top: -3%;
    word-break: break-all;
}

.Text {
     word-break: break-all;
}


.Footer {
    clear: both;
    margin-top: 10%;

}
.Date {
    margin-left:50%
}

.border {
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
}