body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* navbar */
.navbar, .navbar-inverse {
  	background: #FF69CB;
   	border-color: #00FF00;
}

/* navbar links */
.navbar, .navbar-brand {
	color: #000066 !important;
	font-size: 140%;
    padding-top: 45px;
    margin-top: 35px;
    clear: right;
}

.navbar, .navbar-brand:hover{
	color: white !important;
}

.navbar, .navbar-brand:visited{
	color: #330033 !important;
}

.navbar, .navbar-brand:visited:hover{
	color: white !important;
}

/* navbar title */
.navbar, .navbar-title {
	color: #000066;
	font-size: 200%;
    text-decoration: none;
    
/*fá title til að koma niður please*/

}
.navbar, .navbar-title:hover{
	color: white !important;
}

.navbar, .navbar-title:visited{
	color: #330033;
}
.navbar, .navbar-title:visited:hover{
	color: white !important;
}

/* navbar logo */
.navbar, .navbar-logo {
	/*margin-left: -20px;
    margin-top: 80px;*/
}

/* navbar login */
.navbar, #registerLink{
	font-size: 100%;
    margin-top: -15px;
    color: black;
}
.navbar, #loginLink{
	font-size: 100%;
    margin-top: -15px;
    color: black;
}

.navbar, #Manage{
	font-size: 100%;
    margin-top: -15px;
    color: black;
}
.navbar, .logOut{
	font-size: 100%;
    margin-top: -15px;
    color: black !important;
}

.navbar, #registerLink:hover{
	color: white;
}

.navbar, #loginLink:hover{
	color: white;
}

.navbar, #Manage:hover{
	color: white;
}

.navbar, .logOut:hover{
	color: white !important;
}

/* navbar header*/
.navbar, .navbar-header {
    margin-top: 0px;
    padding-top: 25px;
    width: auto;
}
