body {
    padding-top: 0%;
    padding-bottom: 0%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0%;
    padding-right: 0%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280%;
}

/* navbar */
.navbar, .navbar-inverse {
  	background: #16F4F7;
   	border-color: #000000;
}

/* navbar links */
.navbar-nav{
	color: #000066 !important;
	font-size: 140%;
    margin-top: 2%;
    clear: right;  
    float: right;
}

.navbar, .navbar-collapse collapse navbar-right{
     text-align: right;
}

.navbar, .navbar-brand:hover{
	color: white !important;
}

.navbar, .navbar-brand:visited{
	color: #330033 !important;
}

.navbar, .navbar-brand:visited:hover{
	color: white !important;
}

/* navbar title */
.navbar, .navbar-title {
	color: #000066;
	font-size: 150%;
}
.navbar, .navbar-title:hover{
	color: white !important;
    text-decoration: none;
}

.navbar, .navbar-title:visited{
	color: #330033;
}
.navbar, .navbar-title:visited:hover{
	color: white !important;
}

/* navbar login */
#registerLink{
	font-size: 50%;
   /*margin-top: -25%;*/
    color: black;
}
#loginLink{
	font-size: 50%;
    /*margin-top: -31%;*/
    color: black;
}

#Manage{
	font-size: 50%;
    /*margin-top: -15%;*/
    color: black;
}
.logOut{
	font-size: 50%;
    /*margin-top: -25%;*/
    color: black !important;
}

.LoginPartial {
    margin-left: 50%;
    clear: both;
    margin-top: auto;
    
}

.navbar, #registerLink:hover{
	color: white;
}

.navbar, #loginLink:hover{
	color: white;
}

.navbar, #Manage:hover{
	color: white;
}

.navbar, .logOut:hover{
	color: white !important;
}

/* navbar header*/
.navbar, .navbar-header {
    margin-top: 0%;
    padding-top: 3%;
    width: auto;
    padding-left: auto;
    padding-right: auto;
}
