.Details {
    margin-right: 60%;
    margin-bottom: 5%;
    background-color: pink;

}

.Posts {
    float: left;
    padding-right: 5%;
    background-color: blue;
    margin-left: 50%;
}

.UserPost {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    background-color: red;
    
}

.create {
    margin-bottom: 10%;
}

.Id {
    font-weight: bold;
}

.Text {
    margin-left: 10%;
    margin-right: -10%;
}

.Friends {
    margin-right: 60%;
}

.Footer {
    margin-top: 20%;
    clear: right;
}

.Pending {
    float: left;
    margin-left: 15%;
    margin-top: -7%;
}

.Unfriend {
    float: left;
    margin-left: 15%;
    margin-top: -7%;
}