.DateTimePosted {
    font-family: italic;
}

.Navbar {
    border: 2px solid lightgray;
    border-radius: 10px;
    float: right;
    width: 35%;
    padding-left: 1%;
}

.Description {
    margin-right: 30%;
}

.Text {
     word-break: break-all;
     margin-bottom: 2%;
}

.DescriptionText {
     word-break: break-all;
}

.Footer {
    /*margin-top: 5%;*/
    clear: both;
}

.Date {
    margin-left: 45%;
    font-style: italic;
}

.border {
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-right: 60%;
    padding: 1%;
    margin-top: 3%;
}

.cText {
    word-break: break-all;
    margin-left: 5%;
}

.Comment {
    text-indent: 10%;

}

.cDate {
    font-style: italic;
    margin-left: 35%;
}

.cLine {
    margin-right: 30%;
}

.footer {
    margin-top: 5%;
}

.link {
    margin-left: 60%;
}
.Image {
    height: 200px;
    width: 200px; 
}

.Id {
    font-weight: bold;
    margin-top: 1%;
}
.italic {
    font-size: 28pt;
}