@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CONNECTED?</h1>
    <p class="lead">Connected? is our New Social Website for everybody. Enjoy!!!</p>
    <p><a href="http://www.autonomy.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Connected? is new built social website for idiots to enjoy and it is especially made for people to put in recipes and share them.
        </p>
        <p><a class="btn btn-default" href="http://www.recipes.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>If you want to know more about us then you can click the button below to see more info.</p>
        <p><a class="btn btn-default" href="http://www.fb.com/">More about us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RU</h2>
        <p>We did this website because it was part of our school project. More about our school here below</p>
        <p><a class="btn btn-default" href="http://www.ru.is/">More about RU &raquo;</a></p>
    </div>
</div>