@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model Connected.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
    <link href="~/Content/Search.css" rel="stylesheet" />
}

<!--Þetta er kóði sem er fundinn á netinu og inniheldur bara HTML/CSS-->
<!--Á eftir að laga mikið til en þessi kóði er samt alveg keyranlegur-->
<!--T.D. er hægt að cut-a þennan kóða yfir í RecipeList og sjá útlit og virkni þessa kóða-->


<div>
    <div class="Search">
        @using (Html.BeginForm("Search", "Search", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input type="submit" value="Search"/>

        }
    </div>

        <div class="Users">
            @if (Model.Users.Count > 0)
            {
                <h2>Users</h2>

                foreach (var user in Model.Users)
                {
                    <p>@user.UserName</p> //link to userwall
                }

            }
        </div>

    <div class="Recipe">
        @if (Model.Recipes.Count > 0)
        {
            <h2>Recipes</h2>

            foreach (var recipe in Model.Recipes)
            {
                <p>@recipe.Name</p> //link to display recipe
            }

        }
    </div>

    <div class="Group">
        @if (Model.Groups.Count > 0)
        {
            <h2>Groups</h2>

            foreach (var group in Model.Groups)
            {
                <p>@group.Name</p> // link to display group
            }
        }
    </div>
</div>

<div class="Footer">
    <hr/>
    <a href="javascript:history.go(-1)">Back</a>
</div>