@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model Connected.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
    <link href="~/Content/Search.css" rel="stylesheet"/>
}


<div class="Search">
    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input type="submit" value="Search" />

    }
</div>

<br />

<div class="Border">

    <div class="Users">
            @if (Model.Users.Count > 0)
            {
                <h2>Users</h2>

                foreach (var user in Model.Users)
                {
                    <p>@Html.ActionLink(user.UserName, "UserWall", "Home", new { id = user.Id }, null)</p>
                }

            }
    </div>

    <div class="Recipe">
      
    @if (Model.Recipes.Count > 0)
    {
        <h2>Recipes</h2>

            foreach (var recipe in Model.Recipes)
            {
                <p>@Html.ActionLink(recipe.Name, "DisplayRecipe", "Recipe", new {id = recipe.Id}, null)</p>
            }

    }   
    </div>

    <div class="Group">
        @if (Model.Groups.Count > 0)
        {
            <h2>Groups</h2>

            foreach (var group in Model.Groups)
            {

                <p>@Html.ActionLink(group.Name, "DisplayGroup", "Group", new {id = group.Id}, null)</p>
            }
        }
    </div>

</div>

<div class="Footer">
    <hr/>
    <a href="javascript:history.go(-1)">Back</a>
</div>
